# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/natasekolah_dev?schema=public"

# Session Security
SESSION_SECRET="nata-secure-dev-session-key-32chars-min-length"
